[submodule "vendored/sdl"]
	path = vendored/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/vk-bootstrap"]
	path = vendored/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vendored/imgui"]
	path = vendored/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendored/vma"]
	path = vendored/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
