[submodule "vendored/sdl"]
	path = vendored/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/vk-bootstrap"]
	path = vendored/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
